body{
background-image: url("background.jpg");
background-size: cover;
}

.container{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 200px;
  padding-bottom: 100px;
  padding-top: 50px;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 200px;
}

header div{
  color:#00ff1e;
  font-size: 25px;
  text-align:center;
}

nav {
  background-color: #00ff1e;
  height: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  padding-top: 10px;
}

.nav-button{
  text-align: center;
}

main{
    font-family: sans-serif;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
  display: inline-block;
  margin: auto;
}

.address:before{
  content: '\21A6';
}

.charge-status{
  display: block;
}

/* Caratteristiche particolari per ogni rettangolo */
#charge1{
  width:400px;
  height:30px;
  background:orange;
  border-radius: 8px;
  margin-bottom: 5px;
}

#charge2{
  width: 700px;
  height: 30px;
  background: green;
  border-radius: 8px;
  margin-bottom: 5px;
}

#charge3{
  width: 200px;
  height: 30px;
  background: red;
  border-radius: 8px;
  margin-bottom: 5px;
}
